body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #fcfcfc;
    padding-top: 60px; /* Space for fixed Navbar */
    padding-bottom: 60px; /* Space for fixed Footer */
    margin: 0; /* Remove any default margin */
  }
  